<!-- <mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item (click)="navigateToHome()">
            <mat-icon mat-list-icon>home</mat-icon>  Home</button>

        <button mat-list-item (click)="navigateToProfile()">
            <mat-icon mat-list-icon>account_circle</mat-icon>  Profile</button>

        <button mat-list-item (click)="navigateToCategory()">
            <mat-icon mat-list-icon>list</mat-icon>  Catagory</button>

        <button mat-list-item (click)="navigateToadd()">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>  Add Catagory</button>

        <button mat-list-item (click)="navigateToQuiz()">
            <mat-icon mat-list-icon>quiz</mat-icon>  Quizzes</button>

        <button mat-list-item (click)="navigateToaddquiz()">
            <mat-icon mat-list-icon>add</mat-icon>  Add Quiz</button>

        <button mat-list-item (click)="logout()">
            <mat-icon mat-list-icon>logout</mat-icon>  Logout</button>

    </mat-action-list>
</mat-card> -->
<body>
    <div class="sidebar">
        <ul>
            <div class="container">Menu</div>
            <li><button (click)="navigateToHome()">Home</button></li>
            <li><button (click)="navigateToProfile()">Profile</button></li>
            <li><button (click)="navigateToCategory()">Category</button></li>
            <li><button (click)="navigateToadd()">Add Category</button></li>
            <li><button (click)="navigateToQuiz()">Quizzes</button></li>
            <li><button (click)="navigateToaddquiz()">Add Quiz</button></li>
            <li><button (click)="logout()">Logout</button></li>
        </ul>
    </div>
</body>

